.left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

.reveal strong, .reveal b {
  color: #657b83;
  text-shadow: 1px 0 #657b83;
  letter-spacing:1px;
  font-weight:bold;
}

/* debug only
body {
  background-image: url("background_720.png")
}
*/
